# Students Percentage Prediction

## Objective:
#### To develop a model that predicts percentage of students based on their quiz, assignment, mid term marks .

## Import Library

In [1]:
import pandas as pd

In [2]:
!pip install --quiet xlrd
print('pip install xlrd complete')

pip install xlrd complete

## Load Data

In [3]:
DATA = '/kaggle/input/university-students-marks-sheet/Univeristy_Results.xls'

**Chacking number of sheets present in the excel file**

In [4]:
# Use ExcelFile to load the file

excel_data = pd.ExcelFile(DATA)

In [5]:
# Get the sheet names

sheet_names = excel_data.sheet_names

In [6]:
# Print the sheet names

print("Available sheet names:", sheet_names)

Available sheet names: ['Table', 'Sessional', 'Final']

In [7]:
df_tabel = pd.read_excel(io=DATA, sheet_name='Table', engine='xlrd')

df_sess = pd.read_excel(io=DATA, sheet_name='Sessional', engine='xlrd')

df_final = pd.read_excel(io=DATA, sheet_name='Final', engine='xlrd')

# Analyzing the data

In [8]:
df_tabel.head()

    Table Unnamed: 1 Unnamed: 2  Unnamed: 3       Unnamed: 4
0  Marks          GP      Grade         NaN              NaN
1       -          0          F      -0.003  Zero point zero
2       0          0          F      -0.003  Zero point zero
3      *1          0          F      -0.002  Zero point zero
4      *2          0          F      -0.001  Zero point zero

In [9]:
df_tabel['Unnamed: 2'].value_counts

<bound method IndexOpsMixin.value_counts of 0        Grade
1            F
2            F
3            F
4            F
         ...
55002      NaN
55003      NaN
55004      NaN
55005      NaN
55006      NaN
Name: Unnamed: 2, Length: 55007, dtype: object>

**There no as such feature are looking in tabel,**
**Let's check others.**

In [10]:
df_sess.head()

,Roll No,Name,Quiz 15,Unnamed: 3,Unnamed: 4,Assignments 15,Unnamed: 6,Unnamed: 7,Mid Term,Q+A+Mid
0,NaN,NaN,Quiz 01,Quiz 02,AVG (15),Assig. 01,Assig.02,AVG (15),45,Total 75
1,1,Ashir Mehfooz,14,14,14,13,13,13,41,68
2,2,Atif Raftad,4,10,7,4,5,4.5,30,41.5
3,3,Saiqa Aziz,15,11,13,14,13,13.5,34,60.5
4,8,Ozair Minhas,6,5,5.5,4,6,5,12,22.5

In [11]:
df_final.head()

,Roll No.,Name of Student,Total Marks (150),Unnamed: 3,Unnamed: 4,Marks in Words,%,Letter Grade,GP
0,NaN,NaN,Sessional (75),Terminal (75),Total 150,NaN,NaN,NaN,NaN
1,1,Ashir Mehfooz,68,55,123,One Hundred & Twenty Three Only,82.000000,A,4.0
2,2,Atif Raftad,41.5,45,86.5,Eighty Six Pont Five Zero,57.666667,C,2.5
3,3,Saiqa Aziz,60.5,58,118.5,One Hundred & Eighteen Pont Five Zero,79.000000,B+,3.9
4,8,Ozair Minhas,22.5,44,66.5,Sixty Six Pont Five Zero,44.333333,F,0.0

**We can see many features in sessional and final sheet so we will be using that.**

## Data Description:
**There are following thing in the data frame that should be removed or replaced in order to make a prediction model.**

> 1. Unlabeled Columns, we have to label it.
> 2. Unnecessary Columns. i.e, name columns. 
> 3. Empty rows.
> 4. leading/trailing whitespaces.
> 5. Replce the missing values.

In [12]:
df_sess.columns

Index(['Roll No', 'Name', 'Quiz 15 ', 'Unnamed: 3', 'Unnamed: 4',
       'Assignments 15 ', 'Unnamed: 6', 'Unnamed: 7', 'Mid Term', 'Q+A+Mid'],
      dtype='object')

In [13]:
df_final.columns

Index(['Roll No.', 'Name of Student', 'Total Marks (150)', 'Unnamed: 3',
       'Unnamed: 4', 'Marks in Words', '%', 'Letter Grade', 'GP'],
      dtype='object')

In [14]:
df_sess.columns = ['Roll No', 'Name', 'Quize_01', 'Quize_02', 'Quize_Avg', 
                   'Ass_01', 'Ass_02', 'Ass_Avg', 'Mid_Term', 'Final_Marks']

df_final.columns = ['Roll No', 'Name', 'Sess_Sum', 'Terminal', 'Total_150', 
                    'Marks_in_Words', 'Percentage', 'Grade', 'GP']

In [15]:
print(df_sess.columns)

print(df_final.columns)

Index(['Roll No', 'Name', 'Quize_01', 'Quize_02', 'Quize_Avg', 'Ass_01',
       'Ass_02', 'Ass_Avg', 'Mid_Term', 'Final_Marks'],
      dtype='object')
Index(['Roll No', 'Name', 'Sess_Sum', 'Terminal', 'Total_150',
       'Marks_in_Words', 'Percentage', 'Grade', 'GP'],
      dtype='object')

In [16]:
df_sess.head()

,Roll No,Name,Quize_01,Quize_02,Quize_Avg,Ass_01,Ass_02,Ass_Avg,Mid_Term,Final_Marks
0,NaN,NaN,Quiz 01,Quiz 02,AVG (15),Assig. 01,Assig.02,AVG (15),45,Total 75
1,1,Ashir Mehfooz,14,14,14,13,13,13,41,68
2,2,Atif Raftad,4,10,7,4,5,4.5,30,41.5
3,3,Saiqa Aziz,15,11,13,14,13,13.5,34,60.5
4,8,Ozair Minhas,6,5,5.5,4,6,5,12,22.5

In [17]:
df_final.head()

,Roll No,Name,Sess_Sum,Terminal,Total_150,Marks_in_Words,Percentage,Grade,GP
0,NaN,NaN,Sessional (75),Terminal (75),Total 150,NaN,NaN,NaN,NaN
1,1,Ashir Mehfooz,68,55,123,One Hundred & Twenty Three Only,82.000000,A,4.0
2,2,Atif Raftad,41.5,45,86.5,Eighty Six Pont Five Zero,57.666667,C,2.5
3,3,Saiqa Aziz,60.5,58,118.5,One Hundred & Eighteen Pont Five Zero,79.000000,B+,3.9
4,8,Ozair Minhas,22.5,44,66.5,Sixty Six Pont Five Zero,44.333333,F,0.0

**Removing the 0th row. Becuase, it don't have any use.**

In [18]:
df_sess = df_sess[df_sess.index != 0]

df_final = df_final[df_final.index != 0]

In [19]:
df_sess.head()

,Roll No,Name,Quize_01,Quize_02,Quize_Avg,Ass_01,Ass_02,Ass_Avg,Mid_Term,Final_Marks
1,1,Ashir Mehfooz,14,14,14,13,13,13,41,68
2,2,Atif Raftad,4,10,7,4,5,4.5,30,41.5
3,3,Saiqa Aziz,15,11,13,14,13,13.5,34,60.5
4,8,Ozair Minhas,6,5,5.5,4,6,5,12,22.5
5,9,Naveera Subhani,5,11,8,4,5,4.5,34,46.5

In [20]:
df_final.head()

,Roll No,Name,Sess_Sum,Terminal,Total_150,Marks_in_Words,Percentage,Grade,GP
1,1,Ashir Mehfooz,68,55,123,One Hundred & Twenty Three Only,82.000000,A,4.0
2,2,Atif Raftad,41.5,45,86.5,Eighty Six Pont Five Zero,57.666667,C,2.5
3,3,Saiqa Aziz,60.5,58,118.5,One Hundred & Eighteen Pont Five Zero,79.000000,B+,3.9
4,8,Ozair Minhas,22.5,44,66.5,Sixty Six Pont Five Zero,44.333333,F,0.0
5,9,Naveera Subhani,46.5,35,81.5,Eighty One Pont Five Zero,54.333333,C,2.2

**Removing Name and Roll No columns from sessional and Roll No, Name,
Marks_in_Words, and Grade from final dataframes.**

In [21]:
df_sess = df_sess.drop(['Name', 'Roll No'], axis=1)

df_final = df_final.drop(['Roll No', 'Name', 'Marks_in_Words', 'Grade'], axis=1)

In [22]:
df_sess.head()

  Quize_01 Quize_02 Quize_Avg Ass_01 Ass_02 Ass_Avg Mid_Term Final_Marks
1       14       14        14     13     13      13       41          68
2        4       10         7      4      5     4.5       30        41.5
3       15       11        13     14     13    13.5       34        60.5
4        6        5       5.5      4      6       5       12        22.5
5        5       11         8      4      5     4.5       34        46.5

In [23]:
df_final.head()

  Sess_Sum Terminal Total_150  Percentage   GP
1       68       55       123   82.000000  4.0
2     41.5       45      86.5   57.666667  2.5
3     60.5       58     118.5   79.000000  3.9
4     22.5       44      66.5   44.333333  0.0
5     46.5       35      81.5   54.333333  2.2

# Removing Empty Values

**Function to check if a value is numeric**

In [24]:
def is_numeric(x):
    return isinstance(x, (int, float))

**Counting and removing empty values.**

In [25]:
# Function to check non-numeric values and empty strings before replacement

def count_non_numeric_and_empty(df):

    non_numeric_count = sum(~df[col].apply(pd.to_numeric, errors='coerce').notna().all() for col in df.columns)
    
    empty_string_count = sum(df[col].apply(lambda x: isinstance(x, str) and x.strip() == '').sum() for col in df.columns)
    
    return non_numeric_count, empty_string_count

In [26]:
non_numeric_count_final_before, empty_string_count_final_before = count_non_numeric_and_empty(df_final)

In [27]:
print('Non-numeric count before replacement in df_final:', non_numeric_count_final_before)
print('Empty string count before replacement in df_final:', empty_string_count_final_before)

Non-numeric count before replacement in df_final: 5
Empty string count before replacement in df_final: 0

In [28]:
non_numeric_count_sess_before, empty_string_count_sess_before = count_non_numeric_and_empty(df_sess)

In [29]:
print('Non-numeric count before replacement in df_sess:', non_numeric_count_sess_before)
print('Empty string count before replacement in df_sess:', empty_string_count_sess_before)

Non-numeric count before replacement in df_sess: 8
Empty string count before replacement in df_sess: 11

In [30]:
# Count the number of NaN values before replacement

print("\nNaN values before replacement:")

print(df_final.isna().sum())

NaN values before replacement:
Sess_Sum      24
Terminal      14
Total_150     22
Percentage    29
GP            29
dtype: int64

In [31]:
# Count the number of NaN values before replacement

print("\nNaN values before replacement:")

print(df_sess.isna().sum())

NaN values before replacement:
Quize_01        9
Quize_02       12
Quize_Avg       8
Ass_01         13
Ass_02         11
Ass_Avg         8
Mid_Term        8
Final_Marks    19
dtype: int64

In [32]:
# Convert non-numeric values to NaN

df_final = df_final.apply(pd.to_numeric, errors='coerce')

In [33]:
# Replace NaN with 0 in df_final

df_final.fillna(0, inplace=True)

In [34]:
# Convert non-numeric values to NaN

df_sess = df_sess.apply(pd.to_numeric, errors='coerce')

In [35]:
# Replace NaN with 0 in df_sess

df_sess.fillna(0, inplace=True)

In [36]:
# Count the number of NaN values after replacement

print("\nNaN values before replacement:")

print(df_final.isna().sum())

NaN values before replacement:
Sess_Sum      0
Terminal      0
Total_150     0
Percentage    0
GP            0
dtype: int64

In [37]:
# Count the number of NaN values after replacement

print("\nNaN values before replacement:")

print(df_sess.isna().sum())

NaN values before replacement:
Quize_01       0
Quize_02       0
Quize_Avg      0
Ass_01         0
Ass_02         0
Ass_Avg        0
Mid_Term       0
Final_Marks    0
dtype: int64

In [38]:
df_final.describe()

         Sess_Sum    Terminal   Total_150  Percentage          GP
count  234.000000  234.000000  234.000000  234.000000  234.000000
mean    42.324786   34.465812   73.615385   48.492877    1.592308
std     23.713492   22.800330   35.203387   24.214413    1.600411
min      0.000000    0.000000    0.000000    0.000000    0.000000
25%     34.125000   14.250000   55.625000   37.000000    0.000000
50%     44.500000   34.000000   76.000000   50.666667    2.000000
75%     53.500000   54.000000  100.000000   66.666667    3.100000
max    198.000000   75.000000  132.500000   88.333333    4.000000

In [39]:
df_sess.describe()

,Quize_01,Quize_02,Quize_Avg,Ass_01,Ass_02,Ass_Avg,Mid_Term,Final_Marks
count,224.000000,224.000000,224.000000,224.000000,224.000000,224.000000,224.000000,224.000000
mean,7.808036,7.669643,7.734375,7.397321,7.620536,7.508929,27.049107,41.522321
std,4.766637,4.932528,3.927279,4.885064,5.396704,4.015375,12.670445,16.917551
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,3.000000,5.000000,3.000000,3.000000,4.375000,21.000000,35.000000
50%,6.500000,6.000000,7.500000,6.000000,6.000000,7.500000,30.000000,44.500000
75%,13.000000,13.000000,10.625000,13.000000,13.000000,10.000000,35.000000,53.500000
max,15.000000,15.000000,15.000000,15.000000,44.000000,23.000000,45.000000,72.000000

In [40]:
df_sess.head()

,Quize_01,Quize_02,Quize_Avg,Ass_01,Ass_02,Ass_Avg,Mid_Term,Final_Marks
1,14.0,14.0,14.0,13.0,13.0,13.0,41.0,68.0
2,4.0,10.0,7.0,4.0,5.0,4.5,30.0,41.5
3,15.0,11.0,13.0,14.0,13.0,13.5,34.0,60.5
4,6.0,5.0,5.5,4.0,6.0,5.0,12.0,22.5
5,5.0,11.0,8.0,4.0,5.0,4.5,34.0,46.5

In [41]:
df_final.head()

   Sess_Sum  Terminal  Total_150  Percentage   GP
1      68.0      55.0      123.0   82.000000  4.0
2      41.5      45.0       86.5   57.666667  2.5
3      60.5      58.0      118.5   79.000000  3.9
4      22.5      44.0       66.5   44.333333  0.0
5      46.5      35.0       81.5   54.333333  2.2

**Checking and removing leading/trailing whitespaces in the DataFrame**

In [42]:
# Function to chack any whitespaces

def whitespaces(df):
    # Check for leading/trailing whitespaces in the DataFrame

    whitespace_issues = {}

    for column in df.columns:
    
        has_whitespace = df[column].apply(lambda x: isinstance(x, str) and (x != x.strip())).any()
    
        whitespace_issues[column] = has_whitespace

    # Print summary of columns with whitespace issues

    for column, has_whitespace in whitespace_issues.items():
        if has_whitespace:
            print(f"Columns with leading/trailing whitespace:- {column}")

    # Ensure there are no whitespaces

    if not any(whitespace_issues.values()):
        print("No leading or trailing whitespaces found in the dataset.")

In [43]:
whitespaces(df_sess)

No leading or trailing whitespaces found in the dataset.

In [44]:
whitespaces(df_final)

No leading or trailing whitespaces found in the dataset.

In [45]:
print(df_sess.shape)
print(df_final.shape)

(224, 8)
(234, 5)

**There are 10 rows difference between the two data set. Let say, last 10 students does not appeared the sessional exams. Therefore, removing last 10 rows from df_final**

In [46]:
# Remove the last 10 rows

df_final = df_final.iloc[:-10]

In [47]:
# After removing last 10 rows

print(df_sess.shape)
print(df_final.shape)

(224, 8)
(224, 5)

In [48]:
print(df_sess.columns,'\n', df_final.columns)

Index(['Quize_01', 'Quize_02', 'Quize_Avg', 'Ass_01', 'Ass_02', 'Ass_Avg',
       'Mid_Term', 'Final_Marks'],
      dtype='object')
 Index(['Sess_Sum', 'Terminal', 'Total_150', 'Percentage', 'GP'], dtype='object')

**Checking the shape of all columns**

In [49]:
# Funtion to check the shape

def shape(df):
    for i in df.columns:
        print(df[f'{i}'].shape)

In [50]:
shape(df_sess)

(224,)
(224,)
(224,)
(224,)
(224,)
(224,)
(224,)
(224,)

In [51]:
shape(df_final)

(224,)
(224,)
(224,)
(224,)
(224,)

**Adding one more feature in df_sess from df_final**

In [52]:
df_sess['Percentage'] = df_final['Percentage']

In [53]:
df_sess.head()

,Quize_01,Quize_02,Quize_Avg,Ass_01,Ass_02,Ass_Avg,Mid_Term,Final_Marks,Percentage
1,14.0,14.0,14.0,13.0,13.0,13.0,41.0,68.0,82.000000
2,4.0,10.0,7.0,4.0,5.0,4.5,30.0,41.5,57.666667
3,15.0,11.0,13.0,14.0,13.0,13.5,34.0,60.5,79.000000
4,6.0,5.0,5.5,4.0,6.0,5.0,12.0,22.5,44.333333
5,5.0,11.0,8.0,4.0,5.0,4.5,34.0,46.5,54.333333

# Define Target Variable (y) and Feature Variables (X)

In [54]:
df_sess.columns

Index(['Quize_01', 'Quize_02', 'Quize_Avg', 'Ass_01', 'Ass_02', 'Ass_Avg',
       'Mid_Term', 'Final_Marks', 'Percentage'],
      dtype='object')

In [55]:
y = df_sess['Percentage']

X = df_sess[['Quize_01', 'Quize_02', 'Quize_Avg', 'Ass_01', 'Ass_02', 'Ass_Avg', 'Mid_Term', 'Final_Marks']]

In [56]:
X.shape, y.shape

((224, 8), (224,))

In [57]:
X.value_counts().sum(), y.value_counts().sum()

(224, 224)

# Train Test Split

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.7, 
                                                    random_state = 2529)

# Model Evaluation

In [60]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor()

In [61]:
model = model.fit(X_train, y_train)

# Prediction

In [62]:
y_pred = model.predict(X_test)

# Accuracy

In [63]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, r2_score

In [64]:
print(mean_absolute_error(y_pred, y_test))
print(mean_absolute_percentage_error(y_pred, y_test))
print(r2_score(y_pred, y_test))

mean_absolute_percentage_error = mean_absolute_percentage_error(y_pred, y_test)
print(f"\nAccuracy: {100-mean_absolute_percentage_error}%")

15.181372549019606
0.32552321246642046
0.06064659588224808

Accuracy: 99.67447678753358%

In [65]:
import joblib as jl
jl.dump(model, 'students_marks_prediction_model.pkl')

['students_marks_prediction_model.pkl']

# Hyperparameter tuning

In [66]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

In [67]:
# Define the RandomForestRegressor model
rf_model = RandomForestRegressor()

In [68]:
# Define the hyperparameters grid for tuning
param_grid = {
    'n_estimators': [50, 100, 200],            # Number of trees in the forest
    'max_depth': [None, 10, 20],                # Maximum depth of the trees
    'min_samples_split': [2, 5, 10],            # Minimum number of samples required to split an internal node
    'min_samples_leaf': [1, 2, 4]               # Minimum number of samples required to be at a leaf node
}

In [69]:
# Instantiate GridSearchCV
grid_search = GridSearchCV(estimator=rf_model, param_grid=param_grid, cv=5, scoring='neg_mean_squared_error')

In [70]:
# Perform Grid Search CV
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestRegressor(),
             param_grid={'max_depth': [None, 10, 20],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [50, 100, 200]},
             scoring='neg_mean_squared_error')

In [71]:
# Best parameters and best score
print("Best Parameters:", grid_search.best_params_)
print("Best Score (neg_mean_squared_error):", grid_search.best_score_)

Best Parameters: {'max_depth': 20, 'min_samples_leaf': 4, 'min_samples_split': 10, 'n_estimators': 50}
Best Score (neg_mean_squared_error): -206.37942975641158

In [72]:
# Use the best model for predictions
best_rf_model = grid_search.best_estimator_
y_pred_rf = best_rf_model.predict(X_test)

In [73]:
print(mean_absolute_error(y_pred_rf, y_test))
print(r2_score(y_pred_rf, y_test))

11.240332316781153
0.2688240259550888

In [74]:
import joblib as jl
jl.dump(model, 'students_marks_prediction_model.pkl')

['students_marks_prediction_model.pkl']